body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cc0000;
}

#gameCanvas {
    border: 1px solid #000;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 840px;
}

#gameArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 820px;
}

#gameContainer {
    width: 720px;
    height: 840px;
    margin: 0 auto;
}

/* #textArea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    margin-top: 10px;
} */