body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e0303;
}

#gameCanvas {
    border: 1px solid #000;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 900px;
}

#gameContainer {
    width: 900px;
    margin: 0 auto;
}

#textArea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    margin-top: 10px;
}